html{
  height: 100%;
}

body {
	max-height: 1000px;
	overflow:auto;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0)));
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#96cef9',GradientType=0 ); /* IE6-9 */
}

body{
	color: #FFFFFF;
}
a:link {
	color: #2A3F00;
}

td, th
{
 font-size: 16px;
 font-family: verdana, arial, sans-serif;
text-decoration: none;
color:#1e5799;
padding:13px;
}

table {
border:2px solid #FFFFFF;
padding:10px 200px; 
background:#FFFFFF;
width:400px;
border-radius:10px;
box-shadow: 10px 10px 5px #1e5799;
}

h1
{
text-align:left;
font-size:50px;
font-family:"courier";
color:#FFFFFF;
}



.button {
   border-top: 1px solid #96d1f8;
   background: #6495ed;
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
  
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: verdana, arial, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
   




